.buttondivdivbox {
    width: 100%;
    height: 100%;
    border: solid 1px green;
    display: flex;

}

.custom_button_box {

    border-radius: 5px;
    padding:10px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 5px #000;
    margin: 5px;
    width: 100%;
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    margin-top: 2em;
    align-self: center;
    
   

}
.custom_button_box:hover {
    
    color: yellowgreen;
}

.custom_button_box_inner::selection {
background:none;
color:none;
}

.custom_button_box_inner {

}

.text-align {
    width: 100%;
    text-align: center;
}