.custom_button_box {
    display: inline-flex;
    border-radius: 5px;
    padding:10px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 5px #000;
    margin: 5px;
    width: 90%;
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    margin-top: 2em;
    border: 1px solid 
   

}
.custom_button_box:hover {
    
    color: yellowgreen;
}

.custom_button_box_inner::selection {
background:none;
color:none;
}

.custom_button_box_inner {

}

.text-align {
    width: 100%;
    text-align: center;
}