/* .page {

} */

/* .mainCard {

} */

.info {
    font-family: 'Oswald Light', sans-serif;
    text-align: center;
    font-size: 2em;
    
    align-content: center;
    margin-left: 20%;
    margin-right: 20%;
    
 
}

.heading {
    font-size: 100%;
    font-size: 5em;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    width: 100%;
    color: #043A5B;
}

.description {
    font-family: 'Oswald Light', sans-serif;
    text-align: center;
    font-size: 2em;
}
#mainapp {
    
    opacity: 1;
    transition:opacity 1s;
}

.images {
    width: 50%;
}

.pic {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}
