/* .page {

} */

/* .mainCard {

} */

.info {
    font-family: 'Oswald Light', sans-serif;
    text-align: center;
    font-size: 24px;
    
    align-content: center;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 15px;
    padding: 35px;
}

.heading {
    font-size: 100%;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    width: 100%;
    color: #043A5B;
}

.description {
    font-family: 'Oswald Light', sans-serif;
    text-align: center;
    font-size: 24px;
}
#mainapp {
    
    opacity: 1;
    transition:opacity 1s;
}