.header_box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #043A5B;
    border-radius: 10px;
    height: 100px;
    width: 100%;
    box-shadow: lightgrey 8px 8px 6px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    object-fit: none;

}