span {
    margin: 10px;
    font-size: 20px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 50%;
    margin: 9.3px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    box-shadow: 3.6px 3.6px 6.4px rgba(0, 0, 0, 0.38), 0px 0px 3.6px rgba(13, 13, 13, 0.38);
    background: rgba(48, 113, 169, 0.78);
    border-radius: 0px;
    border: 0px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
    border: 1.8px solid #00001e;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: #d9ffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9.3px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(54, 126, 189, 0.78);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    box-shadow: 3.6px 3.6px 6.4px rgba(0, 0, 0, 0.38), 0px 0px 3.6px rgba(13, 13, 13, 0.38);
    background: rgba(48, 113, 169, 0.78);
    border-radius: 0px;
    border: 0px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
    border: 1.8px solid #00001e;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: #d9ffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: rgba(42, 100, 149, 0.78);
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 3.6px 3.6px 6.4px rgba(0, 0, 0, 0.38), 0px 0px 3.6px rgba(13, 13, 13, 0.38);
  }
  input[type=range]::-ms-fill-upper {
    background: rgba(48, 113, 169, 0.78);
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 3.6px 3.6px 6.4px rgba(0, 0, 0, 0.38), 0px 0px 3.6px rgba(13, 13, 13, 0.38);
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
    border: 1.8px solid #00001e;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: #d9ffff;
    cursor: pointer;
    height: 11.4px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: rgba(48, 113, 169, 0.78);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: rgba(54, 126, 189, 0.78);
  }
  