.images {
    width:90%;

    
}

.title {
    justify-content: center;
    align-items: center;
    font-size: 42pt;
    margin-top: 30px;
}

.bodyText {
    font-size: 24pt;
}

.card {
    width: 90%;
    height: 70%;
    /* background-color: blueviolet; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainCard {
    width: 100%;
    height: 100%;
}