@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.infoheader {
    font-size: 100%;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    width: 100%;
}

.GeneralInfo {
font-size: 1.5em;
font-family: 'Oswald', sans-serif;
    text-align: center;
}

.imagesocial {
    width: 40%;

}

.customdiv {
    display: flex;
}
.custom {
    align-items: center;
        width: 100%;
    }
