.images {
    width:50%; 
}

.imagesoff {
    width:50%;
    display: none;
     
}

.imgContainer {
    width: 100%;
 }

 .question {
    font-size: 100%;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    width: 100%;
    color: #043A5B;
}

#social1 {
    display: none;
}

#social2 {
    display: block;
}

#social3 {
    display: none;
}

#mainapp {
    
    opacity: 1;
    transition:opacity 1s;
}